@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --color-primary: #C1D2B2;
    --text: #637381;
    --color-secondary: #637381;
}

html, body {
  font-family: 'Inter', sans-serif;
}